{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-primary">Leaderboard</h1>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Score</th>
                    {% for problem in problems %}
                        <th scope="col"><a href="#"> Q{{ loop.index }} ({{ problem.score }}) </a></th>
                    {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for registration in registrations %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td><a href="#"> {{ registration.contestant.username }} </a></td>
                            <td> {{ registration.score }} </td>
                            {% for problem in problems %}
                                <td>
                                    {% if problem.users.get(registration.user_id) %}
                                    <a href="{{ url_for("submission", id=problem.users[registration.user_id].id) }}">
                                        {{ problem.users[registration.user_id].timestamp }} 
                                    </a>
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}