{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text-primary">Problem List</h1>
            
            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Level</th>
                    </tr>
                </thead>
                <tbody>
                    {% for problem in problems %}
                        {% if (problem.contest == None or problem.contest.end_time <= current_time) %}
                        <tr>
                            <th scope="row"><a href="{{ url_for("problem", id=problem.id) }}"> {{ problem.id }} </a></th>
                            <td><a href="{{ url_for("problem", id=problem.id) }}"> {{ problem.title }} </a></td>


                            <td>

                            {% if problem.difficulty == "Easy" %}
                                <span class="badge badge-success">
                            {% elif problem.difficulty == "Medium" %}
                                <span class="badge badge-warning">
                            {% else %}
                                <span class="badge badge-danger">
                            {% endif %}
                            
                            {{ problem.difficulty }} 
                            </span>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}